#IDE folders
*.idea/
*.vs/
*.vscode/

#Project-specific folders
*obj/
*bin/
*temp/

#Deprecated Nuget folder
/packages/

#Nuke output folder
/output/

#Project-specific files
*/build.schema.json

#User-specific files
*.user