name: Compile

on:
  push:
    branches:
      - dev
  pull_request:
    branches:
      - dev

jobs:
  windows-latest:
    name: windows-latest
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v1
      - name: Cache .nuke/temp, ~/.nuget/packages
        uses: actions/cache@v2
        with:
          path: |
            .nuke/temp
            ~/.nuget/packages
          key: ${{ runner.os }}-${{ hashFiles('**/global.json', '**/*.csproj') }}
      - name: Run './Build/Build.cmd'
        run: ./Build/Build.cmd --skip CreateInstaller